.tabs {

    .nav {
        width: 90%;
        margin-top: 36px;
        background-color: #55606e;
        margin-left: 17px;
    }

    .nav-link {
        height: 48px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;

        &.active {
            color: #ffffff;
            background-color: #343a41;
            border: none;
        }
    }

    .tab-content {
        width: 90%;
        margin-bottom: 27px;
        margin-left: 17px;

        .tab-pane {
            padding-top: 10px;
            padding-left: 10px;
            background-color: #343a41;
            color: #ffffff;

           .card-img-top {
                height: 180px;
                width: 180px;
               
            }

            h3 {
                
                margin-bottom: 26px;
                font-size: 24px;
                font-weight: 500;
                line-height: 26px;
                text-transform: uppercase;
            }

            p {
               
                font-size: 18px;
                font-weight: 400;
                text-align: left;
                line-height: 20px;
            }
        }
    }

    @media (max-width:575px) {
        h3 {
            margin-top: 20px;
        }
    }
}


